### Data Details

Data fields
* **ID** - an Id that represents a (Shop, Item) tuple within the test set
* **shop_id** - unique identifier of a shop
* **item_id** - unique identifier of a product
* **item_category_id** - unique identifier of item category
* **item_cnt_day** - number of products sold. You are predicting a monthly amount of this measure
* **item_price** - current price of an item
* **date** - date in format dd/mm/yyyy
* **date_block_num** - a consecutive month number, used for convenience. January 2013 is 0, February 2013 is 1,..., October 2015 is 33
* **item_name** - name of item
* **shop_name** - name of shop
* **item_category_name** - name of item category

In [12]:


'''
Step 1: Loading Dataset
'''

import torch
import torch.nn as nn
from torch.autograd import Variable
import torchvision.transforms as transforms
import pandas as pd

In [13]:
train = pd.read_csv("data/sales_train.csv")
train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
5,10.01.2013,0,25,2564,349.00,1.0
6,02.01.2013,0,25,2565,549.00,1.0
7,04.01.2013,0,25,2572,239.00,1.0
8,11.01.2013,0,25,2572,299.00,1.0
9,03.01.2013,0,25,2573,299.00,3.0
10,03.01.2013,0,25,2574,399.00,2.0
11,05.01.2013,0,25,2574,399.00,1.0
12,07.01.2013,0,25,2574,399.00,1.0
13,08.01.2013,0,25,2574,399.00,2.0
14,10.01.2013,0,25,2574,399.00,1.0
15,11.01.2013,0,25,2574,399.00,2.0
16,13.01.2013,0,25,2574,399.00,1.0
17,16.01.2013,0,25,2574,399.00,1.0
18,26.01.2013,0,25,2574,399.00,1.0
19,27.01.2013,0,25,2574,399.00,1.0
20,09.01.2013,0,25,2593,279.00,1.0
21,16.01.2013,0,25,2604,299.00,1.0
22,27.01.2013,0,25,2604,299.00,1.0
23,27.01.2013,0,25,2607,279.00,1.0
24,29.01.2013,0,25,2607,279.00,1.0
25,27.01.2013,0,25,2609,1699.00,1.0
26,06.01.2013,0,25,2548,1708.95,1.0
27,26.01.2013,0,25,2611,299.00,1.0
28,02.01.2013,0,25,2546,299.00,1.0
29,06.01.2013,0,25,2515,1649.00,1.0
...,...,...,...,...,...,...
2935819,16.10.2015,33,25,7789,1799.00,1.0
2935820,22.10.2015,33,25,7790,799.00,1.0
2935821,22.10.2015,33,25,7791,899.50,1.0
2935822,17.10.2015,33,25,7632,2310.00,1.0
2935823,26.10.2015,33,25,7487,299.00,1.0
2935824,14.10.2015,33,25,7029,999.00,1.0
2935825,23.10.2015,33,25,7460,299.00,1.0
2935826,04.10.2015,33,25,7233,599.00,1.0
2935827,18.10.2015,33,25,7308,349.00,1.0
2935828,21.10.2015,33,25,7233,479.00,1.0
2935829,03.10.2015,33,25,7233,599.00,1.0
2935830,11.10.2015,33,25,7286,299.00,1.0
2935831,22.10.2015,33,25,7187,299.00,1.0
2935832,26.10.2015,33,25,7484,299.00,1.0
2935833,22.10.2015,33,25,7308,349.00,1.0
2935834,29.10.2015,33,25,7235,298.00,1.0
2935835,18.10.2015,33,25,7327,349.00,1.0
2935836,22.10.2015,33,25,7327,349.00,1.0
2935837,24.10.2015,33,25,7328,249.00,1.0
2935838,17.10.2015,33,25,7338,349.00,1.0
2935839,24.10.2015,33,25,7315,399.00,1.0
2935840,31.10.2015,33,25,7409,299.00,1.0
2935841,11.10.2015,33,25,7393,349.00,1.0
2935842,10.10.2015,33,25,7384,749.00,1.0
2935843,09.10.2015,33,25,7409,299.00,1.0
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [14]:
test = pd.read_csv("data/test.csv")
test

            ID  shop_id  item_id
0            0        5     5037
1            1        5     5320
2            2        5     5233
3            3        5     5232
4            4        5     5268
5            5        5     5039
6            6        5     5041
7            7        5     5046
8            8        5     5319
9            9        5     5003
10          10        5     4806
11          11        5     4843
12          12        5     4607
13          13        5     4869
14          14        5     4870
15          15        5     4872
16          16        5     4874
17          17        5     4678
18          18        5     4892
19          19        5     4964
20          20        5     4717
21          21        5     5002
22          22        5     5823
23          23        5     5814
24          24        5     5900
25          25        5     5907
26          26        5     5908
27          27        5     5643
28          28        5     5657
29          29        5     5675
...        ...      ...      ...
214170  214170       45    14543
214171  214171       45    19253
214172  214172       45    17957
214173  214173       45    12470
214174  214174       45     7543
214175  214175       45     6661
214176  214176       45    11137
214177  214177       45    11489
214178  214178       45     9782
214179  214179       45     2972
214180  214180       45    19889
214181  214181       45    20650
214182  214182       45     5665
214183  214183       45     9978
214184  214184       45    10767
214185  214185       45    14443
214186  214186       45    14341
214187  214187       45     5401
214188  214188       45     9500
214189  214189       45    16007
214190  214190       45     3280
214191  214191       45     4393
214192  214192       45     4352
214193  214193       45    18049
214194  214194       45    18027
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

[214200 rows x 3 columns]

In [15]:
sample_out = pd.read_csv("data/sample_submission.csv")
sample_out

            ID  item_cnt_month
0            0             0.5
1            1             0.5
2            2             0.5
3            3             0.5
4            4             0.5
5            5             0.5
6            6             0.5
7            7             0.5
8            8             0.5
9            9             0.5
10          10             0.5
11          11             0.5
12          12             0.5
13          13             0.5
14          14             0.5
15          15             0.5
16          16             0.5
17          17             0.5
18          18             0.5
19          19             0.5
20          20             0.5
21          21             0.5
22          22             0.5
23          23             0.5
24          24             0.5
25          25             0.5
26          26             0.5
27          27             0.5
28          28             0.5
29          29             0.5
...        ...             ...
214170  214170             0.5
214171  214171             0.5
214172  214172             0.5
214173  214173             0.5
214174  214174             0.5
214175  214175             0.5
214176  214176             0.5
214177  214177             0.5
214178  214178             0.5
214179  214179             0.5
214180  214180             0.5
214181  214181             0.5
214182  214182             0.5
214183  214183             0.5
214184  214184             0.5
214185  214185             0.5
214186  214186             0.5
214187  214187             0.5
214188  214188             0.5
214189  214189             0.5
214190  214190             0.5
214191  214191             0.5
214192  214192             0.5
214193  214193             0.5
214194  214194             0.5
214195  214195             0.5
214196  214196             0.5
214197  214197             0.5
214198  214198             0.5
214199  214199             0.5

[214200 rows x 2 columns]